.app(style="display: none;")
  section
    h1 About Me

    p Creative Technologist specialized in crafting cutting-edge real-time 3D&nbsp;experiences using WebGL, Shaders and JavaScript.

    p Over a decade of experience in the industries of creative technology and web development, working with projects across diverse mediums, including websites, games, interactive installations and apps.

    p Collaborations include leading brands and clients such as Airbnb, Apple, Ambush, Peggy&nbsp;Gou, Xbox, Nike, YouTube, Google, Microsoft, Samsung, Anduril, Expa, One&nbsp;Plus, Lufthansa, Corvette, HBO, Shell, Cartoon&nbsp;Network and Discovery&nbsp;Kids.
