.app(style="display: none;")
  section
    h1 About Me

    p I'm Luis Henrique Bizarro, I'm a 24 y/o Creative Developer focused on WebGL, GLSL and JavaScript. I'm currently working at Active Theory 🖤 and I'm also a Developer Jury member of Awwwards.

    p In my projects, to have more control over the application, I usually write my own code from scratch without any frameworks, just using the essential libaries with ECMAScript 2015+ features like Classes, Modules and Promises plus a simple Webpack build.
