meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title Bizarro — Creative Technologist

meta(name="description" content="Luis Henrique Bizarro is a Creative Technologist with focus on JavaScript and WebGL.")

link(rel="apple-touch-icon" sizes="180x180" href="https://lhbzr.com/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="https://lhbzr.com/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="https://lhbzr.com/favicon-16x16.png")
link(rel="manifest" href="https://lhbzr.com/site.webmanifest")
meta(name="msapplication-TileColor" content="#000000")
meta(name="theme-color" content="#ffffff")

meta(property="og:url" content="https://lhbzr.com/")
meta(property="og:title" content="Bizarro — Creative Technologist")
meta(property="og:image" content="https://lhbzr.com/share.jpg")
meta(property="og:description" content="Luis Henrique Bizarro is a Creative Technologist with focus on JavaScript and WebGL.")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="Bizarro — Creative Technologist")
meta(name="twitter:description" content="Luis Henrique Bizarro is a Creative Technologist with focus on JavaScript and WebGL.")
meta(name="twitter:image:src" content="https://lhbzr.com/share.jpg")
