noscript
  .unsupported
    .unsupported__wrapper
      .unsupported__content
        img.unsupported__image(src="https://lhbzr.com/lhbzr.svg")

        h1.unsupported__title JavaScript Disabled

        p.unsupported__description This website requires JavaScript to work properly.
