@import './variables';

:global {
  .unsupported {
    background: $color-black;
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    width: 100%;
    z-index: 1000;

    &--disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  .unsupported__wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .unsupported__image {
    height: 40%;
    left: 50%;
    position: absolute;
    opacity: 0.1;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .unsupported__content {
    margin: auto;
    max-width: 700px;
    width: 90%;

    @include media('<small') {
      br {
        display: none;
      }
    }
  }

  .unsupported__title {
    font-size: 40px;
    margin-bottom: 30px;

    @include media('<small') {
      font-size: 25px;
      letter-spacing: -1.5px;
    }
  }

  .unsupported__description {
    font-size: 18px;
    line-height: 36px;

    @include media('<small') {
      font-size: 16px;
      line-height: 30px;
    }
  }

  .unsupported__button {
    border: 2px solid $color-white;
    color: $color-white;
    font-size: 15px;
    margin-top: 50px;
    padding: 12px 25px;
    transition: background 0.4s ease, color 0.4s ease;

    &:hover {
      background: $color-white;
      color: $color-black;
    }
  }
}
