@import "../../styles/index";

.about {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  @include media("<small") {
    display: block;
    height: auto;
  }
}

.wrapper {
  margin: auto;
  max-width: 542px;
  padding: 150px 25px;
  position: relative;

  @include media("<small") {
    padding: 150px 25px 50px;
  }
}

.title {
  font-size: 40px;
  font-weight: 400;
  white-space: nowrap;

  :global(span) {
    display: inline-block;
    vertical-align: top;
  }

  @include media("<small") {
    font-size: 30px;
  }
}

.description {
  font-size: 18px;
  line-height: 2;

  :global(span) {
    display: inline-block;
    vertical-align: top;
  }

  &:not(:first-child) {
    margin-top: 25px;
  }

  @include media("<small") {
    font-size: 15px;

    br {
      display: none;
    }
  }
}

.social {
  font-size: 0;
  margin-top: 25px;
}

.social__title {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin-right: 10px;
  vertical-align: middle;

  @include media("<small") {
    display: block;
    margin-bottom: 5px;
    margin-right: 0;
  }
}

.social__list {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.social__item {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social__link {
  color: rgba($color-white, 0.5);
  text-decoration: underline;
  transition: color 0.4s ease;

  &:hover {
    color: rgba($color-white, 0.75);
  }
}
